body {
	margin:0;
	padding:0;
}

li, a {
	text-decoration: none;
}
header {
	background-color: #A3CFD8;
	padding-left: 250px;
	padding-right: 250px;
	height: 400px;	
}

nav {
	padding-bottom: 125px;
}


/*logo*/
#logo {
	float: left;
	display: inline;


}
#logo img{
	display: inline-block;
	height: 75px;
	width: 90px;
}

#logo h1 {
	display: inline;
	position: relative;
	bottom: 30px;
	right: 25px;
} 
/*Nav Links*/
nav ul {
	float: right;
	margin-top: 35px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13px;
}
nav ul li {
	display: inline;
	margin-left: 45px;


}

nav a {
	color: black;
}



.active a{
	color: #A3CFD8;
	background-color: black;
	border-radius: 5px;
	padding: 5px;
	
}

#intro p {
	float: left;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	color: #ffffff;
	width: 365px;
	padding: 0;
	
}

#intro img {
	float: right;
	width: 250px;
	height: 200px;
	margin-right: 75px;
}

/*Features Three Thumbnails Section*/

.thumbnail {
	background-color: #ffffff;
	padding-left: 250px;
	padding-right: 250px;
	height: 380px;
}

.box {
	position: relative;
	float: left;
	padding-top: 50px;
	padding-right: 80px;
	left: 30px; 
}

.box img {
	width: 150px;
	height: 150px;
	margin-left: 25px;
}

.gBox h3 {
	width: 200px;
	text-align: center;
	font-family: sans-serif;
}

.gBox p {
	width: 200px;
	text-align: center;
	font-family: sans-serif;
}

/*Recent Worrk Section*/

#skills {
	background-color: #97D0A3;
	padding-left: 250px;
	padding-right: 250px;
	height: 725px;
}

.head {
	color: #ffffff;
	text-align: center; 
	margin: 0;
	padding-top: 25px;
}

.head h1 {
	margin-top: 0;
}

.head p {
	font-family: sans-serif;
}

#skills ul {
	text-align: center;
	margin-top: 35px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: white;
	 
}

#skills ul a {
	color: white;
}

#skills li {
	text-decoration: none;
	display: inline;
	margin-right: 30px
}

.active1 li a: active {
	color: #97D0A3;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 5px;
}

#skills .thumb {                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
	float: left;
	margin-top: 25px;

}

#skills .thumb img {
	padding-right: 45px;
	padding-bottom: 25px;
	width: 235px;
	height: 180px;
	float: left;
	
}

button {
	position: relative;
	top: 25px;
	text-align: center;
	background-color: white;
	margin:0 auto;
    display: block;
    border: none;
    border-radius: 5px;
    padding: 15px 15px;
    color: #97D0A3;
    font-weight: bold;
}

/*Layered Template*/
.plan {
	padding-left: 250px;
	padding-right: 250px;
	height: 550px;
	background-color: #F0F0F0;
}

.plan .img1 {
	float: left;
	width: 285px;
	height: 255px;
}

.plan .info {
	float: right;
	width: 550px;
	padding-top: 50px;
}
.info button {
	position: absolute;
	top: 1700px;
	right: 685px;
	color: #F0F0F0;
	background-color: #9DCFA6;
}

.plan .img2 {
	float: right;
	width: 285px;
	height: 260px;
}

.plan .info1 {
	float: left;
	width: 550px;
	padding-top: 50px;
}

.info1 button {
	position: absolute;
	top: 1965px;
	right: 985px;
	color: #F0F0F0;
	background-color: #A3D3D6;
}


.group3 {
	height: 250px;
}

/*Team Section*/

.team {
	background-color: #E1B8C8;
	padding-left: 250px;
	padding-right: 250px;
	height: 550px;
}

.team .member {
	float: left;
	width: 235px;
	margin-right: 45px;
	text-align: center;
}
 .member .avatar {
 	background-color: #EAE7E9;
 	padding: 60px 95px 60px 90px;
}	
.member .about{
	position: relative;
	bottom: 5px;
	background-color: #ffffff;
	padding-bottom: 25px;
	padding-top: 20px;
}
.about h2 {
	margin: 0;
}